---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import PricingPterodactyl from '../components/PricingPterodactyl.astro';
import PanelPterodactyl from '../components/PanelPterodactyl.astro';
import PricingDirectAdmin from '../components/PricingDirectAdmin.astro';
import PanelDirectAdmin from '../components/PanelDirectAdmin.astro';
import DomainPartner from '../components/DomainPartner.astro';
import AIPowered from '../components/AIPowered.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Hosting & Pterodactyl Termurah">
	<Navbar isTransparent={true} />
	<main>
		<Hero />
		<PricingPterodactyl />
		<PanelPterodactyl />
		<PricingDirectAdmin />
		<PanelDirectAdmin />
		<DomainPartner />
		<AIPowered />
		<FAQ />
	</main>
	<Footer />
</Layout>

<style>
	main {
		width: 100%;
	}
</style>
